.logo {
  font-family: $logo-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: $dark-logo-color;
}

.web-logo {
  color: $accent-color;
}

.studio-logo {
  color: $white-txt-bg-color;
}
