.social__list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex-basis: calc((100% - 20px * 3) / 4);
  justify-content: center;
  color: $partners-logo-color;
}

.social__link {
  display: inline-flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  color: $partners-logo-color;
  background-color: transparent;

  @include transition-2(background-color, color);

  &:hover,
  &:focus {
    color: $white-txt-bg-color;
    background-color: $accent-color;
  }
}

.social__link--inverse {
  color: $white-txt-bg-color;
  background-color: $shade-of-white1;
}

.social__icon {
  fill: currentColor;
}
